body {
    /*background: #cebe29;
    background: -moz-linear-gradient(-45deg, #cebe29 0%, #432259 40%, #36175E 71%, #89b4ff 91%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cebe29), color-stop(33%,#432259), color-stop(71%,#2989d8), color-stop(91%,#89b4ff));
    background: -webkit-linear-gradient(-45deg, #cebe29 0%,#432259 40%,#36175E 71%,#89b4ff 91%);
    background: -o-linear-gradient(-45deg, #cebe29 0%,#432259 40%,#36175E 71%,#89b4ff 91%);
    background: -ms-linear-gradient(-45deg, #cebe29 0%,#432259 40%,#36175E 71%,#89b4ff 91%);
    background: linear-gradient(135deg, #cebe29 0%,#432259 40%,#36175E 71%,#89b4ff 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebe29', endColorstr='#89b4ff',GradientType=1 );
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;*/

    /*background-image: url(../../img/fondo.jpg) ;*/
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #fff;
}

.custom-calendar-full {
    position: absolute;
    top: 24px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

.fc-calendar-container {
    height: auto;
    bottom: 0px;
    width: 100%;
    top: 100px;
    position: absolute;
}

.custom-header {
    padding: 20px 20px 10px 30px;
    height: 50px;
    position: relative;
}

.custom-header h2,
.custom-header h3,
.custom-header h4 {
    float: left;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.custom-header h2 {
    /*color: rgba(82,8,81,0.9);*/
    font-weight: bold;
    font-size: 2em;
    width: 60%;
}

.custom-header h2 a,
.custom-header h2 span {
    /*background: rgba(82,8,81,0.9);
    color: rgba(255,255,255,0.9);
    padding: 3px;
    font-size: 18px;
    letter-spacing: 3px;
    white-space: nowrap;*/
    /*margin-left: 3em;*/
    margin-bottom: 6px;
    font-size: 0.5em;
    border-radius: 3px;
}

.custom-header h2 a {
    color: rgba(255,255,255,0.5);
}

.no-touch .custom-header h2 a:hover {
    color: rgba(255,255,255,0.9);
}

.custom-header h3 {
    width: 75%;
    font-family: 'montserratregular', Open-sans, Arial;
    /*color: rgba(255,255,255,0.6);*/
    font-size: 2em;
    /*font-weight: 900;*/
    line-height: 30px;
    text-align: right;
    color: #99422F;

}

.custom-header nav {
    position: absolute;
    right: 20px;
    top: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-header nav span {
    float: left;
    width: 30px;
    height: 30px;
    position: relative;
    color: transparent;
    cursor: pointer;
    /*background: rgba(255,255,255,0.3);*/
    background: rgba(128, 0, 0, 1);
    margin: 0 1px;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    box-shadow: inset 0 1px rgba(128,0,0,0.2);
}

.custom-header nav span:first-child {
    border-radius: 3px 0 0 3px;
}

.custom-header nav span:hover {
    background: #F41C54;
}

.custom-header span:before {
    font-family: 'fontawesome-selected';
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    text-indent: 4px;
}

.custom-header nav span.custom-prev:before {
    content: '\25c2';
}

.custom-header nav span.custom-next:before {
    content: '\25b8';
}

.custom-header nav span:last-child {
    margin-left: 20px;
    border-radius: 3px;
}

.custom-header nav span.custom-current:before {
    content: '\27a6';
}


.fc-calendar {
    background: rgba(255,255,255,0.7);
    width: auto;
    top: 10px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: auto;
    border-radius: 5px;
    position: absolute;
}

.fc-calendar .fc-head {
    /*background: rgba(255,255,255,0.2);*/
    /*background: rgba(173,45,255,0.6);*/
    background: rgba(181,181,181,0.15);
    color: #99422F;
    box-shadow: inset 0 1px 0 rgba(255,255,255,2);
    border-radius: 5px 5px 0 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-family: 'montserratregular', Open-sans, Arial;
}

.fc-calendar .fc-head > div {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.fc-calendar .fc-row > div > span.fc-date {
    /*color: rgba(255,255,255,0.9);*/
    color: #99422F;
    text-shadow: none;
    font-size: 26px;
    font-weight: 900;
    bottom: auto;
    right: auto;
    top: 10px;
    left: 10px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.fc-calendar .fc-body {
    border: none;
    padding: 20px;
}

.fc-calendar .fc-row {
    /*box-shadow: inset 0 -1px 0 rgba(255,255,255,0.2);*/
    box-shadow: inset 0 -1px 0 rgba(36, 6, 75, 0.2);
    border: none;
}

.fc-calendar .fc-row:last-child {
    box-shadow: none;
}

.fc-calendar .fc-row:first-child > div:first-child {
    border-radius: 10px 0 0 0;
}

.fc-calendar .fc-row:first-child > div:last-child {
    border-radius: 0 10px 0 0;
}

.fc-calendar .fc-row:last-child > div:first-child {
    border-radius: 0 0 0 10px;
}

.fc-calendar .fc-row:last-child > div:last-child {
    border-radius: 0 0 10px 0;
}

.fc-calendar .fc-row > div {
    /*box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2);*/
    box-shadow: -1px 0 0 rgba(36, 6, 75, 0.2);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.fc-calendar .fc-row > div:first-child{
    box-shadow: none;
}

.fc-calendar .fc-row > div.fc-today {
    background: transparent;
    color: #ccc;
    /*box-shadow: inset 0 0 100px rgba(12,12,120,0.5);
    z-index: 1;*/
}

.fc-calendar .fc-row > div.fc-today:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -o-llinear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -ms-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}

.fc-calendar .fc-row > div > div {
    position: relative;
    margin-top: 25px;
    z-index: 2;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
    color: rgba(143, 210, 6, 1);
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 1px;
    background: rgba(255,255,255,0.1);
}

.no-touch .fc-calendar .fc-row > div > div a:hover {
    padding: 5px;
    background: rgba(255,230,185,0.6);
}

.w3-btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background: rgba(82,8,81,0.9);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 7em;
}

.w3-btn:hover, .w3-btn-block:hover, .w3-btn-floating:hover, .w3-btn-floating-large:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-button {
    color: #000;
    background-color: #f1f1f1;
    padding: 8px 16px
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.w3-btn, .w3-btn-floating, .w3-btn-floating-large, .w3-closenav, .w3-opennav, .w3-btn-block, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-btn-floating, .w3-btn-floating-large {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #000;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px
}





.w3-btn.w3-disabled:hover, .w3-btn-block.w3-disabled:hover, .w3-btn:disabled:hover, .w3-btn-floating.w3-disabled:hover, .w3-btn-floating:disabled:hover, .w3-btn-floating-large.w3-disabled:hover, .w3-btn-floating-large:disabled:hover {
    box-shadow: none
}

.w3-btn-group .w3-btn {
    float: left
}

.w3-btn-block {
    width: 100%
}

.w3-btn-bar .w3-btn {
    box-shadow: none;
    background-color: inherit;
    color: inherit;
    float: left
}

.w3-btn-bar .w3-btn:hover {
    background-color: #ccc
}



@media screen and (max-width: 1025px) , screen and (max-height: 450px) {
    html, body, .contenedor {
        height: auto;
    }

    .custom-header,
    .custom-header nav,
    .custom-calendar-full,
    .fc-calendar-container,
    .fc-calendar,
    .fc-calendar .fc-head,
    .fc-calendar .fc-row > div > span.fc-date {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        height: auto;
        width: auto;
    }

    .fc-calendar {
        margin: 0 20px 20px;
    }

    .custom-header h2,
    .custom-header h3 {
        float: none;
        width: auto;
        text-align: left;
        padding-right: 100px;
    }

    .fc-calendar .fc-row,
    .ie9 .fc-calendar .fc-row > div,
    .fc-calendar .fc-row > div {
        height: auto;
        width: 100%;
        border: none;
    }

    .fc-calendar .fc-row > div {
        float: none;
        min-height: 50px;
        /*box-shadow: inset 0 -1px rgba(255,255,255,0.2) !important;*/
        box-shadow: inset 0 -1px rgba(54,23,94,0.3) !important;
        border-radius: 0px !important;
    }

    .fc-calendar .fc-row > div:empty{
        min-height: 0;
        height: 0;
        box-shadow: none !important;
        padding: 0;
    }

    .fc-calendar .fc-row {
        box-shadow: none;
    }

    .fc-calendar .fc-head {
        display: none;
    }

    .fc-calendar .fc-row > div > div {
        margin-top: 0px;
        padding-left: 10px;
        max-width: 70%;
        display: inline-block;
    }

    .fc-calendar .fc-row > div.fc-today {
        background: rgba(255, 255, 255, 0.2);
    }

    .fc-calendar .fc-row > div.fc-today:after {
        display: none;
    }

    .fc-calendar .fc-row > div > span.fc-date {
        width: 30px;
        display: inline-block;
        text-align: right;
    }

    .fc-calendar .fc-row > div > span.fc-weekday {
        display: inline-block;
        width: 40px;
        color: #99422F;
        /*color: rgba(255,255,255,0.7);*/
        font-size: 10px;
        text-transform: uppercase;
    }

    body{
        /*background-image: url(../../img/fondo_x.jpg) ;*/
    }

    .w3-btn {
        border: none;
        display: inline-block;
        outline: 0;
        padding: 6px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none!important;
        color: #fff;
        background: rgba(82,8,81,0.9);
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        margin-left: 0em;
    }

}
