.panel-body {
	margin-top: -45px !important;
}
.panel-heading {
	margin-top: -25px;
}
.contenido a p {
	font-size: 20px;
	display: inline-block;
}
.contenido a .text {
	font-size: 17px;
	display: inline-block;
}

.file-move {
	text-align: left;
}
.file-move-dos {
	text-align: left;
	padding-left: -20px;
}

.wrapper-area {
	margin-top: 50px;
}

h3{
	text-transform: uppercase;
	color: #0b6a58;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
}

.panel-default>.panel-heading{
background-color: #e8f1f5 !important;
border-color: var(--color-grey-2) !important;
}
.wrapper-download {
padding-left: 40px !important;
}

.wrapper-add-file {
    padding-left: 25%;
}
.wrapper-add-doc {
    padding-left: 2%;
}

 .wrapper-doc-niv-dos  {
	padding-left: 100px !important;
	
}

div > .wrapper-file {
	padding-left: 250px !important;
}
