:root{
	--color-font: #0b6a58;
	--color-items: #004a7c;
	--color-items-1: #005691;
	--color-boton: #004843;
	--color-grey-1:#e8f1f5;
	--color-grey-2:#fafafa;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	height: 100%;
	margin: 0;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #de615e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #de615e;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 5px 0 20px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	/*background: #444;*/
	background: var(--color-items);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
	font-weight: bold;
	box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
	font-weight: bold;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.6;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	/*background: #444;
	background: rgba(0, 0, 0, 0.3);*/
	background: #fff;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	box-shadow: 0 2px 10px rgba(0,0,0, 0.1);
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de615e;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

.spacing{
	margin-top: 25px;
}
.boton3 {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 24px;
	background: var(--color-items-1);
	border: 2px solid;
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
	border-radius: 5px;
  }
  .boton3:hover {
	background: #fff;
	color: var(--color-items-1) !important;
	  border: solid 2px var(--color-items-1);
  }

  .boton5 {
	color: #fff !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: #26426B;
	position: relative;
	border: 2px solid #26426B;
	outline: 1px solid;
	outline-color: rgba(49, 138, 172, 0.4);
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .boton5:hover {
	box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
	outline-color: rgba(49, 138, 172, 0);
	outline-offset: 80px;
	text-shadow: 1px 1px 6px #fff;
	border-shadow: 
  }  

  .centrar {
	  text-align: center;
  }

  .color {
	  color: #fff !important;
	  font-weight: bold;

  }
  .inner-bg{
	  margin-top: -550px;
	  position: relative;
	  z-index: 999;
  }
  .wrapper-all-form-login{
	 /*background-color: #fff;*/
	  background-color: var(--color-grey-1);
	  height: 550px;
	  width: 650px;
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;
	  z-index: 1;
	  border-radius: 5px;
	  box-shadow: 0px 5px 15px rgba(0,0,0, 0.2);
  }

@media screen and (max-width: 1200px) {
	.wrapper-all-form-login{
		width: auto;
	}


}
@media screen and (max-width: 992px) {
	.wrapper-all-form-login{
		width: auto;
	}

	.wrapper-title-main h1{
		color: #fff !important;
		font-size: 30px !important;
		line-height: 30px !important;
	}

}
@media screen and (max-width: 768px) {
	.inner-bg{
		margin-top: -605px;
	}
	.wrapper-all-form-login{
		background-color: transparent;
		box-shadow: none;
	}

	.wrapper-title-main h1{
		color: #fff !important;
		font-size: 20px !important;
		line-height: 20px !important;
		letter-spacing: 5px !important;
	}

	.wrapper-title-main {
		margin-bottom: 0px !important;
	}

	.underline{
		height: 5px !important;
		width: 35% !important;
		background-color: #fff;
		margin-left: 50px;
	}	

}

.wrapper-title-main{
	text-align: left;
	margin-top: 25px;
	margin-bottom: 25px;
}
.wrapper-title-main h1{
	color: #fff;
	font-weight: 900;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.wrapper-title-main h1 span{
	padding-left: 50px;
}


.background-login{
	background-color: var(--color-items-1);
	padding: 20px;
	min-height: 100%;
	margin: 0 auto -65px;
}
.wrapper-footer-login{
	color: #fff;
}

.footer,
.push {
	height: 65px;
}
.box-footer{
	padding: -10px 5px 5px;
}
.box-footer p{
	line-height: 10px;
}

.underline{
	height: 5px;
	width: 15%;
	background-color: #fff;
	margin-left: 50px;
}

.wrapper-olvida {
	text-align: right;
	font-size: 17px;
	color: #005691;
	padding-right: 10px;
	padding-top: 5px;
	
}

.wrapper-olvida a {
	color: #005691;
	font-weight: 600;
}

@media screen and (max-width: 768px){
	.wrapper-olvida a {
		color: var(--color-items);
	}
}

/************************************************************************/
@media (max-width: 768px) {
	.wrapper-all-form-login {
		height: 650px !important;
	}
	.underline {
		width: 17% !important;
	}
}

.form-box{
	background: #005691;
	padding: 20px;
	border-radius: 6px;
	background-color: var(--color-grey-1);
	box-shadow: 0px 5px 15px rgba(0,0,0, 0.2);
}

.box-form-login{
	min-height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}