@import url("../../fonts/font-awesome/css/font-awesome.css");
@import url("../../fonts/bitter-web/stylesheet.css");
@import url("../../fonts/raleway-web/stylesheet.css");

.container-fluid{
    color: #fff;
    background: #03192b;
    width: 100%;
}

.wrapper-marca-footer{
    margin-top: 150px;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
}

.marca-footer{
    max-width: 200px;
    width: 100%;
}

.texto-footer{
    margin-top: 150px;
    font-family: 'bitterregular';
}

.icon-centro-llamadas{
    color: #3eb8cc;
}

.centro-de-llamadas{
    font-size: 3.5em;
    font-family: 'bitterregular';
}

.info{
    font-family: 'ralewaymedium';
    margin-top: 150px;
}

@media (max-width: 991px) {
    .info{
        margin-top: 0;
    }
}

nav h2 {
    font-size: 1.5em;
}

ul{
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.ubicacion-footer ul li p {
    border-bottom: 1px solid #202d42;
    color: #5d7395;
}

.ubicacion-footer ul li .last {
    border-bottom: none;
}

.ubicacion-footer ul li .last a {
    text-decoration: none;
}

.line-div{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #5d7395;
}

.redes-sociales a{
    text-decoration: none;
}

.redes-sociales a i{
    color: #fff;
    height: 50px;
    width: 50px;
    display: table-cell;
    text-align: center;
    font-size:1.5em;
    vertical-align: middle;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #5d7395;
}

.derechos-reservados p {
    padding-top: 15px;
    font-family: 'Raleway', Arial;
    color: #5d7395;
}

.ir-arriba a{
    font-family: 'bitterregular';
    font-size: 1.5em;
    color: #ffd204;
    float: right;
    text-decoration: none;
}

.ir-arriba i {
    font-size: 2em;
}

@media(max-width: 767px) {
    .small-view {
        padding-top: 25px;
    }
    .small-view p {
        text-align: center;
    }

}

.img-footer{
    margin-top: -150px;
}