

.boton-formulario a{
    text-decoration: none;
    color: #fff;
}

.boton-formulario a:hover{
    text-decoration: none;
    color: #fff;
}

.boton-formulario a:visited{
    text-decoration: none !important;
    color: #fff;
}

.boton-formulario a:after{
    text-decoration: none !important;
    color: #fff;
}

.boton-formulario a:link{
    text-decoration: none;
}


p {
    margin: 0;
}

body {
    font-family: 'ralewayblack';
    font-weight: normal;
    font-style: normal;
    background: #f3f3f3;
}

#pagetop{
    position: fixed;
    top: 0px;
    width:100%;
    height: 170px;
    transition-duration: 0.2s;
    overflow:hidden;
    background: #f3f3f3;
    z-index: 700;
}

#pagetop #menu{
    position: absolute;
    bottom: 0px;
    width:100%;
    transition: height 0.3s linear 0s;
}

#pagetop > .container {
    padding-right: 0;
    padding-left: 0;
}

.top-login{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

@media (max) {
    
}

.top-login > .col-md-6,
.top-login > .col-sm-6 {
    padding:0;
}

.top-login p {
    color: #979797;
    font-family: 'bitterregular';
}

.top-login p span{
    color: #424242;
    font-family: 'bitterbold';
}

@media (max-width: 767px) {
    .ocultar-need{
        display: none;
    }
}

.register-login a{
    float: right;
    text-decoration: none;
    color: #424242;
    cursor: pointer;
}

@media(max-width: 768px){
    .register-login a{
       padding-right: 20px;
    }
}

.login-cont{
    height: auto;
    margin-top: 170px;
    /*padding-bottom: 10%;*/
}

@media(max-width: 600px){
    .login-cont{
        margin-top: 160px;
    }
}

.title_login{
    font-size: 2.5em;
    padding-top: 1em;
    padding-bottom: 2em;
    text-transform: uppercase;
}

.marca-municipal{
    /*text-align: center;*/
    top:65px;
}

.ocultar{
    display: inherit;
}

.visible-title{
    display: none;
}

@media (min-width: 100px) and (max-width: 500px){
    .marca-municipal{
    text-align: center;
    }

    .ocultar {
        display: none;
    }

    .visible-title{
    display: inherit;
    text-align: center;
    padding: 0.5em;
    font-size: 1.5em;
}
}

.marca-municipal img {
    max-width: 200px;
    width: 100%;
}

.form-control{
    font-family: 'ralewaymedium';
    font-weight: 600;
    font-size: 1.5em;
    height: 80px;
}

.form-control-dos{
    font-family: 'ralewaymedium';
    font-weight: 600;
    font-size: 1em;
    height: 40px;
    
}

.form-control:focus {
    border-color: #e7e7e7;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control-dos:focus {
    border-color: #e7e7e7;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.iconografia-login svg{
    max-width: 200px;
    width: 100%;
    margin-bottom: -50px;
    float: right;
    margin-right: 175px;
}

@media (max-width: 600px) {
    .iconografia-login svg{
        padding-top: 35px;
        max-width: 150px;
        width: 100%;
        float: left;
    }

}
.top-form {
    margin-top: 170px;
}

.text-title {
    text-align: center;
    padding: 1.5em;
    font-size: 2.5em;
}

@media (min-width: 992px) and (max-width: 1200px){

   .text-title {
    padding: 1.8em;
    font-size: 2em;
    } 
}

@media (min-width: 701px) and (max-width: 991px){

   .text-title {
    text-align: right;
    padding: 2.2em 1em 2.2em 1em;
    font-size: 1.8em;
    } 
}

@media (min-width: 501px) and (max-width: 700px){

   .text-title {
    text-align: right;
    padding: 3.5em 1em 2.2em 1em;
    font-size: 1.5em;
    } 
}



.boton {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #8fd400;
}

.boton-formulario .boton{
    font-family: 'ralewayblack';
    padding: 10px 30px;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.boton:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.boton-1 {
    border: 1px solid #e7e7e7;
    color: #fff;
}

.boton-1f:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #03192b;
}

.boton-1f:hover,
.boton-1f:active {
    color: #fff;
    z-index: 3;
}

.boton-1f:hover:after,
.boton-1f:active:after {
    width: 100%;
}


