.panel-body {

}
.panel-heading {

}
.contenido a p {
	font-size: 20px;
	display: inline-block;
}
.contenido a .text {
	font-size: 17px;
	display: inline-block;
}

.file-move {
	text-align: left;
}


.wrapper-area {
	margin-top: 10px;
}

h3{
	text-transform: uppercase;
	color: #005691;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
}

.panel-default>.panel-heading{
background-color: #e8f1f5 !important;
border-color: var(--color-grey-2) !important;
}

.wrapper-add-file {
    /*padding-left: 25%;*/
}
.wrapper-add-doc {
    padding-left: 2%;
}

 .wrapper-doc-niv-dos  {
	padding-left: 100px !important;
	
}

div > .wrapper-file {
	padding-left: 250px !important;
}
.contenido{
	margin-bottom: 5px;
}
.wrapper-folder{
	display: flex;
	justify-content: space-between;
}
.sub-group-folder-two{
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: rgba(232, 241, 245, 0.5);
}
.sub-group-folder-two > a{
	padding-left: 20px;
}
.sub-group-folder-two > div > a:last-child{
	padding-right: 20px;
}
.sub-group-folder-two > div{
	flex-grow: 1;
	text-align: right;
}
.wrapper-carpetas > div{
	display: flex;
	justify-content: space-between;
	background-color: rgba(232, 241, 245, 0.3);
	margin-top: 15px;
}
.wrapper-carpetas > div > a:first-child{
	padding-left: 40px;
}
.wrapper-carpetas > div > a:last-child{
	padding-right: 20px;
}
.wrapper-document-three {

}
.wrapp-form-three {
	width: 100%;
	margin-top: 10px;
	display: flex;
}
.wrapper-file-three {
	display: flex;
	flex-wrap: nowrap;
	text-align: left;
	padding-left: 40px;
	background-color: rgba(232, 241, 245, 0.3);
	margin-top:  10px;
	flex-grow: 1;
}
.wrapper-end {
	display: flex;
	flex-wrap: nowrap;
	text-align: left;
	padding-left: 80px;
	background-color: rgba(232, 241, 245, 0.15);
	margin-top:  5px;
	flex-grow: 1;
}
.panel-body {
	padding: 3px !important;
}

.fa-2x {
	font-size: 1.6em !important;
}

.center {
	text-align: center !important;
}